{% extends "layout.html" %}
{% block content %}
    <h1>Attack Page:</h1>
    <p>
	    <a class="btn btn-primary btn-xs" href="{{ url_for('main.attack6') }}">Demo1a - Windows Brute - Demo</a>
	</p>
    <p>
	    <a class="btn btn-primary btn-xs" onclick="document.getElementById('demo1').innerHTML = '<h6><font color=white>Attack 1 starts launching......Please do not close this page!</font></h6>';" href="{{ url_for('main.attack') }}">Demo1b - CL Demo</a>
	    <div class="badge badge-danger text-wrap" style="width: 28rem; height: 2rem;"  id="demo1"></div>
	</p>

{% endblock content %}
